<div class="main_nav">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="wrapper">
					<div class="modal_menu">
						<svg class="gb_qe" focusable="false" viewBox="0 0 24 24"><path d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z"></path></svg>
					</div>
					<nav>
						<li>
							<a href="#about" class="scroll">О Компании</a>
						</li>
						<li>
							<a href="#services" class="scroll">Наши услуги</a>
						</li>
						<li>
							<a href="#price" class="scroll">Стоимость</a>
						</li>
						<li>
							<a href="#services" class="scroll">Получить расчёт</a>
						</li>
					</nav>
					<div class="right">
						<div class="email">
							{{ options.email }}
						</div>
						<div class="social">
							{{ function('social_icon','all') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
